@import "./kbcd.css";

.kloudi-inline-query-item {
  display: flex;
  height: 100%;
}

.kloudi-inline-query-category {
  color: #fff;
  margin-right: 6px;
  border-radius: 2px;
  padding: 1.2px 3px;
  margin: auto 0px;
}

.kloudi-inline-query-shortcut {
  margin: auto 8px auto auto;
  display: flex;
  flex-direction: row;
}

.kloudi-inline-query-shortcut-text {
  font-size: 14px;
}

.kloudi-inline-query-icon {
  width: 20px;
  height: 20px;
  margin: auto 0px;
}

.kloudi-inline-query-text {
  max-width: 420px;
  margin: auto 8px;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.search {
  margin: auto 8px;
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #4a4a4a;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.search:hover {
  stroke: #4a4a4a;
}

.kloudi-inline-query-category.Command {
  background: rgb(67, 130, 207);
}
.kloudi-inline-query-category.Navigate {
  background: rgb(165, 22, 134);
}
.kloudi-inline-query-category.Network {
  background: rgb(46, 41, 194);
}
.kloudi-inline-query-category.System {
  background: rgb(49, 177, 79);
}
.kloudi-inline-query-category.Drawer {
  background: rgb(206, 64, 206);
}
