.kloudi-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: drop-shadow(2px 2px 4px black);
  backdrop-filter: drop-shadow(2px 2px 4px black);
}

@media only screen and (min-width: 0px) {
  .kloudi-modal {
    width: 360px;
  }
}

@media only screen and (min-width: 640px) {
  .kloudi-modal {
    width: 640px;
  }
}

.kloudi-modal {
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  bottom: auto;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border-bottom: solid 1px #e4e5ec;
  box-shadow: 2px 2px 8px 4px rgba(69, 73, 91, 0.25);
  margin: calc((100vh - 405px) / 2) 0;

  overflow: hidden;
  outline: none;
  padding: 0px 0px 0px 0px;
  transform: translate(-50%);
}

.kloudi-modal-header {
}

.kloudi-modal-content {
}

.kloudi-modal-container {
  font-family: "AvenirNext", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.kloudi-modal-containerOpen {
}

.kloudi-modal-input {
  width: calc(100% - 40px);
  height: 58px;
  padding: 0px 16px;
  outline: none;

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  font-family: "AvenirNext", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

  border: none;
  border-radius: 0px;
  caret-color: black;
}

.kloudi-modal-input::-moz-placeholder {
  color: #9b9b9b;
  font-family: "AvenirNext";
  font-weight: normal;
  padding-right: 2px;
}

.kloudi-modal-input::placeholder {
  color: #9b9b9b;
  font-family: "AvenirNext";
  font-weight: normal;
  padding-right: 2px;
}

.kloudi-modal-input::-ms-input-placeholder {
  color: #9b9b9b;
  font-family: "AvenirNext";
  font-weight: normal;
  padding-right: 2px;
}

.kloudi-modal-inputOpen {
}

.kloudi-modal-inputFocused {
}

.kloudi-modal-suggestionsContainerOpen {
  overflow: scroll;
  max-height: 270px;
}

.kloudi-modal-suggestionsList {
  list-style: none;
  padding: 0px 0px 16px 0px;
  margin: 0px 0px;
}

.kloudi-modal-suggestion {
  color: #9b9b9b;
  border-top: 0px none;
  padding: 16px 16px;
  cursor: pointer;
  border-left: solid 2px #fff;
}

.kloudi-modal-suggestionFirst {
}

.kloudi-modal-suggestionHighlighted {
  color: #4a4a4a;
  background-color: #f7f7f7;
  border-left: solid 2px #f06723;
}

.kloudi-modal-suggestionHighlighted .kloudi-modal-query-item svg {
  stroke: black;
}

.kloudi-modal-suggestionHighlighted .kloudi-modal-query-shortcut kbd {
  color: black;
  background-color: rgba(61, 61, 61, 0.25);
}

.kloudi-modal-spinner {
  border-top: 0.4em solid rgba(240, 103, 35, 0.2);
  border-right: 0.4em solid rgba(240, 103, 35, 0.2);
  border-bottom: 0.4em solid rgba(240, 103, 35, 0.2);
  border-left: 0.4em solid#f06723;
}

.kloudi-modal-trigger {
  position: absolute;
  top: calc(100vh - 96px);
  left: 0%;
  height: 96px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.05) 25%,
    rgba(0, 0, 0, 0.2) 80%
  );
  -webkit-backdrop-filter: drop-shadow(2px 2px 4px black);
  backdrop-filter: drop-shadow(2px 2px 4px black);
}
.kloudi-modal-trigger > img {
  width: 56px;
  height: 56px;
  box-shadow: 0 4px 8px 0 rgba(69, 73, 91, 0.5);
  border-radius: 50%;
  transition: box-shadow 100ms ease-in-out, transform 100ms ease-in-out;
  padding: 4px;
  background-color: white;
  margin: 0 calc((100vw - 56px) / 2);
}

.kloudi-modal-trigger > img:hover {
  box-shadow: 0 6px 12px 0 rgba(69, 73, 91, 0.75);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.kloudi-modal-input-logo {
  width: 24px;
  height: 24px;
  margin: auto 0px auto 24px;
}

.kloudi-modal-input-wrapper {
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: solid 1px #e4e5ec;
}
