@font-face {
  font-family: "AvenirNext";
  src: url("../../../fonts/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../../fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.suggestions-container-wrapper {
  color: #4a4a4a;
  display: flex;
  flex-direction: row;
  font-family: "AvenirNext", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0px;
  margin: 0px 16px;
  text-transform: uppercase;
}

.suggestions-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 16px;
}

.suggestions-container-item {
  font-size: 20px;
  font-weight: 500;
  font-family: "AvenirNext", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  border-bottom: solid 1px #e4e5ec;
}

.suggestions-container-logo {
  margin: auto 8px auto 0;
  width: 30px;
  height: 30px;
  border: solid 1px #f06723;
  border-radius: 50%;
}
