.command-panel-header-wrapper {
  color: black;
  display: flex;
  flex-direction: row;
  font-family: "AvenirNext", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0px;
  margin: 0px 16px;
}

.command-panel-header-item {
  margin: 11px 0px 7px 0px;
}

.command-panel-header-logo {
  margin: auto 8px auto auto;
  width: 40px;
  height: 40px;
}

.command-panel-header-mode {
  border-radius: 8px;
  background-color: #f7f7f7;
  font-family: "AvenirNext", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  padding: 4px 8px;
  color: #555;
}
